<% breadcrumb :root %>

<div class="col-sm-6">
  <h2>Welcome All.</h2>
  <p>Welcome to the blog for the Local Theatre Company. Here you'll find update-to-date information about our theatre
    and activities. There are announcements, movie and performance reviews, as well as a whole host of other things to
    keep you occupied. Please choose a category from the list to the right to get started. Make sure to register and
    leave a comment to let us know what you think!</p>
</div>

<div class="col-sm-6">
  <h2>Browse Categories.</h2>

  <% if @categories %>
    <div class="list-group">
      <% @categories.each do |c| %>
        <%= link_to c.name, posts_category_path(c), class: 'list-group-item' %>
      <% end %>
    </div>
  <% else %>
      <p><em>There are no categories to display</em></p>
  <% end %>
</div>