<h1>Welcome</h1>
<p>Blah blah</p>

<h1>Categories</h1>

<% if @categories %>
  <ul>
    <% @categories.each do |c| %>
      <li><%= link_to c.name, category_posts_path(c) %></li>
    <% end %>
  </ul>
<% else %>
    <p><em>There are no categories to display</em></p>
<% end %>