
<div class="col-sm-6">
  <h2>Welcome All.</h2>
  <p>Blah blah</p>
</div>

<div class="col-sm-6">
  <h2>Browse Categories.</h2>

  <% if @categories %>
    <div class="list-group">
      <% @categories.each do |c| %>
        <%= link_to c.name, posts_category_path(c), class: 'list-group-item' %>
      <% end %>
    </div>
  <% else %>
      <p><em>There are no categories to display</em></p>
  <% end %>
</div>